/* Reset some default styles */
html {
  height: 100%;
  box-sizing: border-box;
}

/* COLOUR SCHEME */
:root,
:root.dark {
  --main-colour: rgb(62, 59, 65);
  --text-colour: white;
}
:root.light {
  --main-colour: rgb(198, 193, 204);
  --text-colour: black;
}

body {
  position: relative;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--main-colour);
  color: var(--text-colour);
  min-height: 100%;
  padding: bottom 6.74em;
}

.testing {
  color: var(--text-colour);
}

.text-link {
  color: black;
}

.text-link a:visited {
  color: black;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  background-color: rgb(50, 2, 78);
  color: white;
  text-align: center;
  font-size: 18px;
}
/* Style for the sidebar */
.sidebar {
  height: 100vh; /* 100% of the viewport height */
  min-width: max-content;
  background-color: rgb(50, 2, 78); /* Set the background color */
  position: sticky;
  top: 0;
  left: 0;
  overflow-x: hidden;
  float: left; /* this and main-content overflow hidden make the layout work */
}

.main-content {
  overflow: hidden; /* this and sidebar float left make the layout work */
}

/* Style for the navbar */
.navbar {
  list-style-type: none;
  padding: 1.15em 0 1.15em 0;
  margin: 0;
  min-width: max-content;
}

/* Style for navbar items */
.navitem {
  color: white;
  text-align: center;
}

.navitem.active {
  background-color: rgb(27, 1, 43);
}

.navitem:hover {
  background-color: rgb(27, 1, 43);
}

/* Style for links inside navbar items */
/* TODO: fix the navbar text padding so the whole box is clickable */
.navitem > a {
  text-decoration: none;
  color: white;
  font-size: 14pt;
  padding: 40px;
  display: inline-block;
}

#arrowimg {
  max-width: 35px;
  height: auto;
}

.home-page-logo {
  width: 140px;
  height: auto;
  padding: 0;
}

/* Form styling */
.registration-form {
  border: solid 1px rgb(182, 182, 182);
  border-radius: 8px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 300px;
  max-width: max-content;
  margin: auto;
}

.registration-inputs {
  display: flexbox;
  flex-direction: column;
  border: 5px;
  padding: 20px 40px 20px 40px;
  margin: auto;
}

.form-label-login {
  justify-content: right;
}

.form-field-login {
  justify-content: left;
}

/* Style for tables on homepage */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 20px;
  margin-bottom: 30px;
}

.section {
  flex: 1;
  min-width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #204156;
  padding: 15px;
  margin: 4px 0;
  color: #fff;
}

.section h2 {
  font-size: 1.5em;
  color: #e0e0e0;
  text-align: center;
  margin-bottom: 20px;
}

.section p,
.section span {
  font-size: 1em;
  line-height: 1.6;
  color: #f0f0f0;
  border-bottom: 1px solid #3b617c;
  padding: 8px 5px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market-status-item {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: #333;
}

.open {
  color: #4caf50;
}

.closed {
  color: #f44336;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* Ensures even column spacing */
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
  /* Prevents overflow by breaking long words */
}

th {
  background-color: #204156;
  color: white;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
}
.wallet {
  display: inline;
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  background-color: rgb(186, 79, 248);
  margin-top: 0px;
  margin-left: 20px;
}

.wallet:hover span {
  display: none;
}

.wallet:hover::before {
  content: "200,000$";
}
.navicon {
  padding-top: 20px;
  padding-bottom: 10px;
  float: right;
}

.fa-circle-user {
  padding-right: 40px;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  display: inline-block;
  width: 250px;
  height: 35px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 30%;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

/*  chart css  */
.chart-container {
  width: 100%;
  margin: auto;
  display: block; /* Ensure that the container uses block layout */
}

#candlestickChart,
#stackedBarChart,
#lineChart,
#scatterChart {
  width: 100%;
  max-width: 100%; /* Ensure charts are responsive and fill their container */
}
