{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container page-wrapper">
  <div class="page-inner">
    <div class="row">
      {% for product in products %}
      <form method="POST" action="{{ url_for('Addbasket') }}">
        <div class="el-wrapper">
          <div class="box-up">
            <a href="{{url_for('product_page', product_id = product.id)}}"
              ><img
                class="img"
                style="height: 90%"
                src="{{ url_for('static', filename=product.image) }}"
            /></a>
            <div class="img-info">
              <div class="info-inner">
                <span class="p-name">{{ product.prod_name }}</span>
                <span class="p-company"
                  >Waste products: {{ product.Waste_product }} kg</span
                >
              </div>
            </div>
          </div>

          <div class="box-down">
            <div class="h-bg">
              <div class="h-bg-inner"></div>
            </div>
            <input type="hidden" name="quantity" id="" value="1" />
            <input type="hidden" name="product_id" value="{{ product.id }}" />
            <button
              style="border: none; background: none"
              class="cart"
              href="#"
            >
              <span class="price">£{{ product.price }}</span>
              <span class="add-to-cart">
                <span class="txt">Add in cart</span>
              </span>
            </button>
          </div>
        </div>
      </form>
      {% endfor %}
    </div>
  </div>
</div>
<div class="vertical-banner">
  <img
    src="{{url_for('static',filename='Unchained-long.png')}}"
    style="width: 150px"
    class="d-none d-lg-block d-xl-bloc"
  />
</div>
<div class="footer-banner">
  <img
    src="{{url_for('static',filename='Unchained-footer.png')}}"
    style="width: 300px; margin-bottom: 70px"
    class="d-lg-none"
  />
</div>
<div class="footer-banner">
  <img
    src="{{url_for('static',filename='magic_makeup_banner.jpg')}}"
    class="d-none d-lg-block d-xl-bloc"
  />
  <img
    src="{{url_for('static',filename='magic_makeup_mobile.jpg')}}"
    class="d-lg-none"
  />
</div>
{% endblock %}
