{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block home %}active{% endblock %} {% block content %}
<!-- SET FOR REMOVAL -->
<style>
  h1 {
    color: #333;
    text-align: center;
    margin: 20px 0;
  }
</style>

<div class="container">
  <!-- Top Losers Section -->

  <div class="section">
    {% if top_gainers_losers.top_losers %}
    <h2>Top Losers</h2>
    <p>{{top_gainers_losers.last_updated}}</p>
    <table>
      <tr>
        <th>Ticker</th>
        <th>Price</th>
        <th>Change Amount</th>
        <th>Change Percentage</th>
        <th>Volume</th>
      </tr>
      {% for loser in top_gainers_losers.top_losers %}
      <tr>
        <td>{{ loser.ticker }}</td>
        <td>{{ loser.price }}</td>
        <td>{{ loser.change_amount }}</td>
        <td>{{ loser.change_percentage }}</td>
        <td>{{ loser.volume }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h2>No Data for Top Losers</h2>
    {% endif %}
  </div>

  <!-- Top Gainers Section -->
  <div class="section">
    {% if top_gainers_losers.top_gainers %}
    <h2>Top Gainers</h2>
    <p>{{top_gainers_losers.last_updated}}</p>
    <table>
      <tr>
        <th>Ticker</th>
        <th>Price</th>
        <th>Change Amount</th>
        <th>Change Percentage</th>
        <th>Volume</th>
      </tr>
      {% for gainer in top_gainers_losers.top_gainers %}
      <tr>
        <td>{{ gainer.ticker }}</td>
        <td>{{ gainer.price }}</td>
        <td>{{ gainer.change_amount }}</td>
        <td>{{ gainer.change_percentage }}</td>
        <td>{{ gainer.volume }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h2>No Data for Top Gainers</h2>
    {% endif %}
  </div>

  <!-- Most Actively Traded Section -->
  <div class="section">
    {% if top_gainers_losers.most_actively_traded %}
    <h2>Most Actively Traded</h2>
    <p>{{top_gainers_losers.last_updated}}</p>
    <table>
      <tr>
        <th>Ticker</th>
        <th>Price</th>
        <th>Change Amount</th>
        <th>Change Percentage</th>
        <th>Volume</th>
      </tr>
      {% for actives in top_gainers_losers.most_actively_traded %}
      <tr>
        <td>{{ actives.ticker }}</td>
        <td>{{ actives.price }}</td>
        <td>{{ actives.change_amount }}</td>
        <td>{{ actives.change_percentage }}</td>
        <td>{{ actives.volume }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h2>No Data for Most Actively Traded</h2>
    {% endif %}
  </div>
</div>

<h1>Global Market Open & Close Status</h1>
<div class="market-status">
  {% if market_status %} {% for market in market_status.markets %}
  <div class="market-status-item">
    <h3>{{ market.region }} ({{ market.market_type }})</h3>
    <p>Exchanges: {{ market.primary_exchanges }}</p>
    <p>Open: {{ market.local_open }} - Close: {{ market.local_close }}</p>
    <p>
      Status:
      <span
        class="{{ 'open' if market.current_status == 'open' else 'closed' }}"
        >{{ market.current_status | capitalize }}</span
      >
    </p>
    {% if market.notes %}
    <p>Notes: {{ market.notes }}</p>
    {% endif %}
  </div>
  {% endfor %} {% else %}
  <p>No market status data available.</p>
  {% endif %}
</div>

{% endblock content %}
