{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block login %}active{% endblock %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="error-message"><h2>{{ message }}</h2></div>
			{% endfor %}
		{% endif %}
	{% endwith %}

    <div class="registration-form">
        <form method="POST">
            <div class="registration-inputs">
                <div class="form-block-login">
                    <h2>Create an account</h2>
                </div>

                <div class="form-block-login">
                    {{ form.username.label(class="form-label-login") }}
                    {{ form.username(class="form-field-login", autofocus=true) }}
                </div>

                <div class="form-block-login">
                    {{ form.password.label(class="form-label-login") }}
                    {{ form.password(class="form-field-login") }}
                </div>

                <div class="form-block-login">
                    {{ form.submit(class="form-field-login", value="Log in") }}
                </div>

                <div class="form-block-login">
                    <a class="text-link" href="{{ url_for('register') }}">No account? Click here to sign up.</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}