{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="error-message"><h2>{{ message }}</h2></div>
			{% endfor %}
		{% endif %}
	{% endwith %}

    <form method="POST">
        <div class="registration-form">
            <div class="registration-inputs">
                <h2 class="form-title-login">Create an account</h2>

                <div class="input-block">
                {{ form.username.label(class="form-label-login") }}
                {{ form.username(class="form-field-login") }}
                </div>
                <br>

                <div class="input-block">
                {{ form.fname.label(class="form-label-login") }}
                {{ form.fname(class="form-field-login") }}
                </div>
                <br>

                <div class="input-block">
                {{ form.lname.label(class="form-label-login") }}
                {{ form.lname(class="form-field-login") }}
                </div>
                <br>

                <div class="input-block">
                {{ form.email.label(class="form-label-login") }}
                {{ form.email(class="form-field-login") }}
                </div>
                <br>

                <div class="input-block">
                {{ form.password.label(class="form-label-login") }}
                {{ form.password(class="form-field-login") }}
                </div>
            </div>
            {{ form.submit(class="form-field-login", value="Create account") }}
        </div>
    </form>
{% endblock %}